# ===== Python =====
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# ===== OS / IDE =====
.DS_Store
.idea/
.vscode/
*.iml

# ===== Project outputs / large artifacts =====
data/
checkpoints/
runs/

# ===== Model / dataset archives =====
*.pt
*.pth
*.ckpt
*.zip
*.tar
*.tar.gz
*.gz

# ===== Logs =====
*.log
.idea/
